*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: .4px;
    text-transform: unset;
    color: #222;
    font-family: Roboto;
    margin: 0 0 30px;
}
p{color: #666;
    font-size: 14px;
    font-weight: 400;}


/* ========== FOOTER DESKTOP ======== */
html{width: 100%;}
body .footer-contanier{width: 100%; background-color: #222222;display: block;}
body .footer-contanier .footer-wrapper1{display: flex; justify-content: space-evenly; flex-wrap: wrap; color: #ffffff; padding: 60px 5px 90px 0px;}
body .footer-contanier .footer-wrapper1 .footer-item .footer-item-header{text-align: center;margin-left: 30px;padding-bottom: 10px;}
body .footer-item .child1,.child2,.child3{list-style: none;}
body .footer-item .child2 li::before,.child3 li::before{color : #a67a68;content: "\2022";padding-right: 15px;}
body .child4{padding:0 40px; text-align: left;}
body .footer-sub-menus li{color : #999999; padding: 8px;}
body .footer-sub-menus li:hover{color : #a67a68;}
body .footer-item .footer-sub-buttons {position: relative;width: 100%;display: flex; margin-top: 20px;}
body .footer-sub-menus li span{margin:0px 20px 10px 0px; height: 45px;width: 45px;border-radius: 50%;line-height: 45px; font-size: 24px;text-align: center;vertical-align: middle;display: inline-block;background: #a67a68;color: #ffffff;}
body .footer-trademark{padding-bottom: 30px;}
body .footer-trademark div{border: 0.5px solid #999999; opacity: 0.2;}
body .footer-trademark p{margin-left: 60px;padding-top: 20px;}
body .footer-sub-buttons input{border-radius: 30px;padding:0 50px; width: 100%; border: 0; outline: 0; transition: top .1s ease,font-size .1s ease;}
body .footer-sub-buttons button{color: #ffffff;border-radius: 30px;padding:12px 10px; width: 100%;margin-left: -40px; outline: none; border: none; background-color: #a67a68;cursor: pointer;}
body .footer-sub-buttons button:hover{background-color: #222222; }
body .footer-social-icons{margin: 20px;text-align: center;}
body .footer-social-icons ul{list-style: none;}
body .footer-social-icons ul li{display: inline-block;vertical-align: middle;border-radius: 50%;margin-right: 20px;}
body .footer-social-icons ul li:nth-child(1){background: #3b5999;}
body .footer-social-icons ul li:nth-child(2){background: #000000;}
body .footer-social-icons ul li:nth-child(3){background: #cc2366}
body .footer-social-icons ul li:nth-child(4){background: #00aced;}
body .footer-social-icons ul li a {color: #ffffff;padding: 0; border-radius: 50%;height: 34px;text-align: center; width: 34px;margin: 0 5px 5px 0;display: flex;align-items: center;justify-content: center;transition: all .4s ease 0s; -webkit-transition: all .4s ease 0s;}
body .footer-social-icons ul li a .social-icons{padding:5px 0 0 5px;}
body .footer-social-icons ul li:hover{background: #a67a68;}

/* FOOTER MOBILE */
body .footer-mobile{background: #222222; color: #ffffff;padding-bottom: 1rem;padding-top: 4rem; display: none;width: 100%;}
body .footer-mobile-items{max-width: 1392px;margin: 0 auto;padding-left: 15px; }
body .footer-mobile-items .footer-item{text-align: center; font-size: 20px; padding: 2px;} 

/* body .footer-mobile-socials ul{margin-left:} */
body .footer-item-header{font-size: 25px;}
body .footer-mobile-socials ul li{list-style: none;}
body .footer-other-items div {display: inline-block;} 
body .footer-other-items div h2 {font-size: 16px;} 
body .footer-other-items div:nth-child(2){float: right; margin-right: 50px; cursor: pointer; }
body .footer-mobile-buttons{width: 100%; margin: 30px auto;} 
body .footer-mobile-buttons input{width: 80%;border-radius: 30px; border: none; outline: none; padding:16px;}
body .footer-mobile-buttons button{color: #ffffff;border-radius: 30px;margin-left: -60px;   padding: 16px 30px; outline: none; border: none;background-color: #a67a68;cursor: pointer;}
body .footer-mobile-buttons button:hover{background-color: #222222;}
body .footer-other-items .footer-sub-menus{margin-left: -40px; display: none;height: 0px; }
body .footer-other-items .visible-bg{display: block; transition: all .5 ease-in !important; height: 200px;}
body .footer-other-items ul li{list-style: none;}
body .footer-other-items .child2 li::before {color : #a67a68;content: "\2022";padding-right: 15px;}
body .footer-other-items li span{margin:0px 20px 10px 0px; height: 45px;width: 45px;border-radius: 50%;line-height: 45px; font-size: 24px;text-align: center;vertical-align: middle;display: inline-block;background: #a67a68;color: #ffffff;}
body .footer-mobile-socials{width: 100%; margin: 0 auto;}
body .footer-mobile-socials ul{list-style: none; max-width: 990px; margin-top: 20px;}
body .footer-mobile-socials ul li{display: inline-block;vertical-align: middle;border-radius: 50%;margin-right: 20px;}
body .footer-mobile-socials ul li:nth-child(1){background: #3b5999;}
body .footer-mobile-socials ul li:nth-child(2){background: #000000;}
body .footer-mobile-socials ul li:nth-child(3){background: #cc2366}
body .footer-mobile-socials ul li:nth-child(4){background: #00aced;}
body .footer-mobile-socials ul li a {color: #ffffff;padding: 0; border-radius: 50%;height: 34px;text-align: center; width: 34px;margin: 0 5px 5px 0;display: flex;align-items: center;justify-content: center;transition: all .4s ease 0s; -webkit-transition: all .4s ease 0s;}
body .footer-mobile-socials ul li a .social-icons{padding:5px 0 0 5px;}
body .footer-mobile-socials ul li:hover{background: #a67a68;}


/* about-us */
body .about{font-family: Poppins, Arial, sans-serif;font-size: 18px;font-weight: 300;line-height: 2.2;color: #757575;box-sizing: border-box;margin: 0;padding: 0;display: block;position: relative;padding-top: 70px;padding-bottom: 90px;}
.about-img{font-family: Poppins, Arial, sans-serif;font-size: 24px;font-weight: 300;line-height: 2.2;color: #757575;box-sizing: border-box;margin: 0;padding: 0;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;float: left;width: 41.66666667%;}
.about-us-image{border-style: none; max-width: 600px;vertical-align: top; width: 100%;}
.padding-left-20{padding: 0 50px;}
.padding-left-20 p{font-size: 16px;}

/* ===== OUR SERVICES ===== */
body .services{ display: flex; flex-wrap: wrap;justify-content: center;max-width: 1392px;margin: 0 auto;padding-left: 15px;padding-right: 15px;}
body .left-content{color: #666666; padding-left: 70px;margin-top: 30px;}
body .left-content h1{color: #000000;padding-bottom: 10px;font-size: 40px;}
body .services-contanier{margin: 40px;}
.padding-left-25{padding: 0 50px;}
.padding-left-25 p{font-size: 16px;}
body .big-sale-img{    border-style: none;height: 100%;max-width: 100%;vertical-align: top;}
body .flex-sub-items{display: flex;margin-top: 30px; }
body .flex-sub-items h4{font-size:18px;padding-bottom: 4px; color: #232323;}
body .sub-text{padding: 15px; font-size: 14px; color: #666;}
body .sub-image{transition: all .4s ease; -webkit-transition: all .5s ease}
body .style-btn{cursor: pointer;margin-top: 30px; display: inline-flex; justify-content: center;align-items: center;box-sizing: border-box;font: inherit;text-decoration: none;font-size: 14px;letter-spacing: .5px;font-weight: 400;text-transform: uppercase;padding: 10px 20px;line-height: 20px;outline: none};
body .mini-services{margin-top: 50px!important}


/* CAOUSEL SLIDER */

.swiper-slide img{width: 100%!important;display: block; max-width: 100%;position: relative;height: 100%;}
.swiper-button-next::after {display: none;}
.swiper-button-prev::after {display: none;}
.swiper-pagination .swiper-pagination-bullet {opacity: 1; border: #a67a68 solid 1px;background-color: transparent;margin-top: 20px;}
.swiper-pagination .swiper-pagination-bullet-active {background-color: #a67a68;}
/* .swiper-pagination {bottom: 50px;} */
/* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 50px!important;} */
.flash-contanier{position: absolute; left: 14%;z-index: 40000; color: #ffffff;-webkit-animation-duration: 1s;}
.flash-text {padding:20px 0;font-size: 14px;line-height: 24px;letter-spacing: .5px;font-weight: 400;margin-bottom: 30px;color: #999999;webkit-animation-duration: 1s;}
.flash-title{font-size: 17px;color: #a67a68;border: 2px solid #a67a68;text-transform: uppercase;line-height: 17px;margin-bottom: 20px;letter-spacing: 1px;font-weight: 500;position: relative;letter-spacing: 3px;display: inline-block;padding: 15px 30px;}
.flash-heading{font-size: 70px; line-height: 70px;margin-bottom: 20px;font-weight: 500;webkit-animation-duration: 1s;}
.flash-contanier2{position: absolute; right: 14%;z-index: 10000; color: #ffffff;-webkit-animation-duration: 1s;}
.flash-button{background-color: #a67a68;color: #ffffff;opacity: .9; cursor: pointer;box-sizing: border-box;font: inherit;text-decoration: none;border: 0;border-radius: 30px;box-shadow: none;font-size: 14px;letter-spacing: .5px;font-weight: 400;text-transform: uppercase;padding: 10px 20px;line-height: 20px;}
.swiper-slide-active .flash-button{ animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeDown;animation-delay: .5s;}
.swiper-slide-active .flash-contanier2{ animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeDown;animation-delay: .5s;}
.swiper-slide-active .flash-heading{ animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeDown;animation-delay: .5s;}
.swiper-slide-active .flash-text{ animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeDown;animation-delay: .5s;}
.swiper-slide-active .flash-contanier{ animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;animation-name: fadeDown;animation-delay: .5s;}
.flash-contanier,.flash-contanier2{max-width: 1420px; margin:auto;}
.swiper-pagination-bullet{height: 13px!important; width: 13px!important;}
.flash-button:hover{background-color: #232323; box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;}
@keyframes fadeDown{
    from{
       top: 0%;
       opacity: 0;
      }
    
    to{
        top:20%;
        opacity: 1;
    }}

    @keyframes fadeDown2{
        from{
            top: 0%;
            opacity: 0;
           }
         
         to{
             top:20%;
             opacity: 1;
         }}

         @keyframes fadeDown3 {
            from{
                top: 0%;
                opacity: 0;
               }
             
             to{
                 top:20%;
                 opacity: 1;
             }}
            
         
         @keyframes fadeDown4 {
            from{
                top: 0%;
                opacity: 0;
               }
             
             to{
                 top:20%;
                 opacity: 1;
             }}
             @keyframes fadeDown5 {
                from{
                    top: 0%;
                    opacity: 1;
                   }
                 
                 to{
                     top:15%;
                     opacity: 1;
            
                 }}

/* body .default{transform: translate(100%);} */
/* body .active{transform: translate(100%);} */
    /* ABOUT US  */
 
/* NAV STYLES */
body .nav-header{height: 56px;}
body .nav-header .top-nav{width: 100%; display: flex;justify-content: space-between;align-items: center; background-color: #1d2129;color: #999999;padding-top: 20px; }
body .nav-header .top-nav .nav-header-icons{display: flex;margin-right: 50px;justify-content: space-between;font-size: 25px;column-gap: 30px; }
body .nav-header .top-nav .nav-header-icons .icons{cursor: pointer;}
body .nav-header .top-nav .nav-header-icons .icons:hover{color: #ffffff;}
body .nav-header .nav-header-logos{display:flex}
body .nav-header .nav-header-logos .hamburger-icon{padding-left: 20px; font-size: 60px; display: none;height: 40px;}
body .nav-header .nav-header-logos .nav-logo{font-size: 35px;padding-left: 20px;}
body .nav-header .nav-header-logos .nav-logo .flex-logo{color: #a67a68 ;font-family: "cursive";margin-left: -17px}
body .nav-header .nav-header-logos .white-logo{color: #ffff; }
body .nav-header .nav-header-logos .black-logo {color: #000;}

body .nav-header .is-sticky{position: fixed;top: 0;left: 0;right: 0;width: 100%;z-index: 999999999;box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);transition: 0.4s;animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;-webkit-backdrop-filter: blur(20px);backdrop-filter: blur(20px); display: flex;justify-content: space-between;align-items: center;height: 65px; background-color: #ffffff;padding-top: 0px;}
body .nav-header .is-sticky .nav-header-icons{display: flex;margin-right: 50px;justify-content: space-between;font-size: 30px;column-gap: 30px; }
body .nav-header .is-sticky .nav-header-icons .icons{cursor: pointer;}
body .nav-header .is-sticky .nav-header-icons .icons:hover{color: #a67a68;}
body .nav-header .is-sticky .nav-header-ul{display: flex;align-items: center;justify-content: space-between;column-gap: 60px;margin-bottom: 0 ;margin-right: 100px; }
body .nav-header .is-sticky .nav-header-ul a li{list-style-type: none;position: relative;color: #000;cursor: pointer; transition: 0.4s;padding: 0px 15px; font-size: 20px;}
body .nav-header .is-sticky .nav-header-ul li:after{margin-bottom: -4px; background: none repeat scroll 0 0 transparent; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; background: rgb(166, 122, 104); transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}
body .nav-header .is-sticky .nav-header-ul li:hover:after{width: 100%;  left: 0; color:#fff !important;}

body .nav-header .top-nav .nav-header-ul{display: flex;align-items: center;justify-content: space-between;column-gap: 60px;margin-bottom: 0 ;margin-right: 100px; }
body .nav-header .top-nav .nav-header-ul a li{list-style-type: none;position: relative;color: #fff;cursor: pointer; transition: 0.4s;padding: 0px 15px}
body .nav-header .top-nav .nav-header-ul li:after{margin-bottom: -4px; background: none repeat scroll 0 0 transparent; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; background: rgb(166, 122, 104); transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}
body .nav-header .top-nav .nav-header-ul li:hover:after{width: 100%;  left: 0; color:#fff !important;}
.open{display: block;}

.dropdown-list{position: absolute; top: 100%;right: 0; margin-top: 0;z-index: 1001; float: left;display: none;min-width: 160px;padding: 5px 0;margin: 2px 0 0;list-style: none;font-size: 13px;text-align: left;background-color: #ffffff;border: 1px solid #cccccc;border: 1px solid #e0e0e0;border-radius: 2px;-webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);box-shadow: 0 6px 12px rgb(0 0 0 / 18%);background-clip: padding-box;}
.dropdown-list.arrow:before{ border-bottom: 8px solid #e0e0e0;position: absolute;top: -8px;right: 18px;display: inline-block;content: '';border-right: 8px solid transparent;border-left: 8px solid transparent;}
.dropdown-list.arrow:after{top: -7px !important;border-bottom: 8px solid #fff;position: absolute;right: 18px;display: inline-block;content: '';border-right: 8px solid transparent;border-left: 8px solid transparent;}
.dropdown-list.userinfo{padding: 8px 0px;min-width: 200px;box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%); border: 1px solid #e0e0e0;border-radius: 2px !important;background: #fff !important;}
.dropdown-list.userinfo li:hover{background-color: #fafafa;}
.dropdown-list.userinfo li .arrow_link{display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.54; color: #455a64!important;white-space: nowrap; text-decoration: none;}
.dropdown-list.userinfo li .arrow_link.pull-left{line-height: 20px;} 

/* SIDENAV */
.sidenav{width: 0%;background-color: #F6F9F9; z-index: 99999999999;height: 100%;line-height: 1;position: fixed;top: 0;left: 0;overflow-x: hidden;transition: 0.6s ease-in;display: block; }
.sidenav .sidenav-contanier hr{width: 100%;}
.sidenav .sidenav-contanier .sidenav-header{display: flex; justify-content: space-between;padding: 20px 30px 15px 15px;}
.sidenav .sidenav-contanier .sidenav-header .hozul-text{font-size: 32pt;color: #1E555D; font-family: 'Josefin Sans'; font-weight: 600;}
.sidenav .sidenav-contanier .sidenav-header img{height: 14pt;width: 14pt;margin-top: 10px;}
.show_nav{width: 80%;}
.tab-content{display: none;}
.tab .tab-content ul{background-color: #ffffff;padding: 12px 20px 12px 15px;}
.tab .tab-content ul::before{padding: 0;}
.tab .tab-content ul a{text-decoration: none; cursor: pointer;}
.tab .tab-content ul a li{padding-bottom: 7px;color: #4E4E4E;}
.modal{display: block!important;}
  
  
.main-layout{z-index: 99999999999;}
.sidenav .sidenav-contanier .mobile-group-list a{text-decoration: none;}
.sidenav .sidenav-contanier .mobile-group-list .tab .tab-header{display: flex;justify-content: space-between;padding: 12px 20px 12px 15px;color: #4E4E4E;margin-bottom: 10px;}
.sidenav .sidenav-contanier .mobile-group-list .tab .tab-header::before{padding: 0;}
.sidenav .sidenav-contanier .mobile-group-list .tab .tab-header:hover, .sidenav .sidenav-contanier .mobile-group-list .tab .tab-header.active{background: #1E555D;width: 100%;color: #ffffff;}
.sidenav .sidenav-contanier .mobile-group-list .tab .tab-header .caret-close{font-size: 11pt;color: #1A1A1A;padding-right: 15px}
.sidenav .sidenav-contanier .mobile-group-list .tab .tab-header:hover .caret-close{color: #ffffff;}

.sidenav .sidenav-contanier .mobile-group-list .mobile-header{font-size: 13pt;font-family: 'Mont'; font-weight: normal; }
.sidenav .sidenav-contanier .mobile-group-list .all-category{padding: 12px 20px 12px 15px;color:#4E4E4E; margin-bottom: 10px;}
.sidenav .sidenav-contanier .mobile-group-list .all-category:hover{background: #1E555D;width: 100%;color: #ffffff;}

.sidenav .sidenav-contanier .mobile-signin{margin:20px 20px 200px 15px;}
.sidenav .sidenav-contanier .mobile-signin .signin{border: 1px solid #215D66;width: 100%;max-width: 97px;cursor: pointer; height: 40px;background: #ffffff;border-radius: 4px;color: #1E555D;}
.sidenav .sidenav-contanier .mobile-signin .signup{width: 100%;max-width: 101px;height: 40px;border-radius: 4px;background: #1E555D;color: #FFFFFF; margin-left: 9px;cursor: pointer;}
.sidenav .sidenav-contanier .account .account-title{font-size: 13pt;padding-bottom: 10px; color:#4E4E4E; font-family: 'Mont'; font-weight: 600;}
.sidenav .sidenav-contanier .account .account-header{display: flex;column-gap: 13px; align-items: center; margin-bottom: 16px;}
.sidenav .sidenav-contanier .account .account-header h2{font-size: 13pt;font-family: 'Mont'; font-weight: normal; color:#4E4E4E;padding-top: 10px;}
.sidenav .sidenav-contanier .account .account-header img{height: 16pt;width: 16pt;margin-top: 10px;}

.sidenav .sidenav-contanier .signout{display: flex;column-gap: 13px; align-items: center;}
.sidenav .sidenav-contanier .signout h2{font-size: 13pt;font-family: 'Mont'; font-weight: normal; color: #F15152;padding-top: 10px;}
.sidenav .sidenav-contanier .signout img{height: 16pt;width: 16pt;margin-top: 10px;}





/* LOGIN CONTANIER */
body .login_contanier{width: 100%;max-width: 500px;margin: 8% auto;padding: 20px;}
body .login_contanier .login_form_container .create-account{text-align: center;font-size: 30px;}
/* body .login-subcontanier{transition: all .5 ease-in-out;} */
/* body .register-subcontanier{transition: all .5 ease-in-out;} */
body .field{position: relative; width: 100%;margin: 10px;display: block;margin: 1.5rem 0 0;}
body .field input{padding: 10px;height: 2.5rem;width: 100%; outline: none;border-radius: 30px;border: .3px solid #999999;}
body .field input::placeholder{padding-left: 10px;}
body .signin-btn{width: 100%;font-size: 16px;font-weight: 400;line-height: 25px;margin-bottom: 15px;margin-top: 50px;}
body .forgot{ text-align: right;margin: 1rem 0;font-size: 14px;color: #232323;cursor: pointer;}
body .forgot:hover{color: #999999;}


/* TIME CONTANIER */
body .time-contanier{position: relative;background-attachment: fixed!important; background: url("../../../public/images/watchslider2.webp"); background-repeat: no-repeat;background-size: cover;background-position: center; display: block;overflow: hidden;padding: 100px 0;margin: 30px 0 75px 0;}

body .parallax-text-right{float: right;margin-right: 180px;}
body .parallax-list{display: block;text-align: center;position: relative;}
body .parallax-title{font-size: 16px;text-transform: unset;line-height: 16px;margin-bottom: 20px;font-weight: 500;position: relative;letter-spacing: 9px;display: inline-block;padding: 15px 30px;color: #a67a68;border: 1px solid;}
body .parallax-subtitle{font-size: 80px; margin-bottom: 10px;font-weight: 500; line-height: 90px;color: #ffffff;}
body .parallax-offer-title{font-size: 16px;margin-bottom: 40px;color: #999999;}
body .countdown-contanier{ display: flex; margin-bottom: 40px;position: relative; justify-content: space-between; }
body .countdowncontainer .countdown-data::before{content: ':';color: #ffffff;position: absolute;padding-left: 60px;font-size: 30px;}
body .countdowncontainer .countdown-data .data{ color: #ffffff; font-size: 30px;}
body .countdowncontainer .countdown-data .data-sec{color: #a67a68 !important; ;}
body .countdowncontainer .no-data::before{content: none!important;}
body .theme-button {cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font: inherit;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    background-color: #a67a68;
    box-shadow: none;
    color: #ffffff;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    line-height: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    outline: none;}
body .theme-button:hover{background-color: #232323; box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; color: #ffffff!important;}


    /* TESTIMONIAL */
    body .testimonial-contanier{max-width: 1202px;margin: 0 auto; padding-left: 15px;padding-right: 15px;background-color: #f5f5f5;}
    body .monial-body{padding: 60px 0;}
    body .testimonial-header{text-align: center; font-size: 40px;font-weight: 500;}
    body .testimonial{background-color: #f5f5f5;position: relative; width: 100%; max-width: 1200px; margin: 0 auto; margin-top: 60px; text-align: center;margin-bottom: 50px;min-height: 450px; }
    body .section-header{position: relative;text-align: center;font-size: 35px;line-height: 40px;font-weight: 500;display: inline-block; vertical-align: middle;letter-spacing: .4px;text-transform: unset; color: #222;font-family: Roboto;margin: 0 0 30px;}
    body .testimonial-header-text{padding-top: 50px; }
    body .monial-icon{ margin: 20px auto; font-size: 40px; color: #666666; }
    body .user-contanier{display: block; width: 100%;overflow: hidden;position: relative; }
    body .user-description{text-align: center;font-weight: 400;line-height: 25px;font-size: 16px;font-style: italic;margin: 0 auto; color: #666666;width: 100%;max-width: 500px; }
    body .desc{position: relative;text-align: center; margin: 20px 0 30px;}
    body .user-name{font-size: 22px;display: block;font-weight: 600;margin-bottom: 5px;color: #000000;}
    body .user-designation{font-size: 14px;display: block;font-weight: 500;position: relative;margin: 0;font-style: italic;color: #666666;}
    body .owl-item{width: 100%; padding: 30px 20px;margin: 0 auto;}
    body .sliding-stage{position: absolute;left: 15%;}
    body .owl-dots{position: absolute; right: 17%; margin-top: 10px;}
    body .visible-item{display: block;}
    body .invisible-item{display:none; transform :translate3d(-2340px, 0px, 0px);transition: all 0s ease 0s;}
    body .ishitestimonials-container{padding-bottom: 30px;}
    body .owl-dot{display: block;background: 0 0;color: inherit;border: none;padding: 0!important;font: inherit; }
    body .owl-dot img{max-width: 100%;cursor: pointer; border-radius: 50%;-ms-transform: scale(.8);-webkit-transform: scale(.8);transform: scale(.8); -webkit-filter: grayscale(0%);filter: grayscale(0%);-webkit-transition: all .6s;-moz-transition: all .6s;-o-transition: all .6s;transition: all .6s; width: 80px;height: 80px;}
    body .owl-dot img:hover{-webkit-filter: grayscale(100%);filter: grayscale(100%)}


/* Brand contanier */
body .brand-contanier{display: flex; width: 100%; margin: 20px auto; justify-content: space-between;}
body .brand-contanier{width: 100%; max-width: 1200px; }
body .brand-contanier img{ cursor: pointer;}
body .brand-contanier img:hover{-ms-transform: scale(.8); transform: scale(.8); transition: .3 ease-in;}

/* Best Sellers */
body .seller-contanier{margin: 0 auto; width: 100%;text-align: center;}
body .seller-contanier .seller-list{display: flex;padding: 0 20px; cursor: pointer; margin: 30px auto; text-align: center; width: 100%; max-width: 400px; justify-content: space-between;}
body .seller-contanier .seller-list .seller-option{color: #999999; letter-spacing: 1px;position: relative;font-size: 16px;  }
body .seller-contanier .seller-list .seller-option:hover{color: #a67a68; }
body .seller-contanier .seller-list .seller-option:after{margin-bottom: -4px; background: none repeat scroll 0 0 transparent; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; background: rgb(166, 122, 104); transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}
body .seller-contanier .seller-list .seller-option:hover:after{width: 100%;  left: 0; color:#fff !important;}
body .seller-image-contanier{display: grid; grid-template-columns: repeat(3, 1fr);gap: 24px; margin: 30px auto;width: 100%; max-width: 1200px;}     
body .seller-image-contanier div>img{display: block;max-width: 300px;height: 100%;width: 100%; margin: 0 auto;}
/* MEDIA QUERIES */
@media screen and (min-width: 2500px) {
                    .flash-contanier{font-size: 40px;}
                    .flash-contanier2{font-size: 40px;}
                    .flash-heading{font-size: 90px;}
                    .flash-text{font-size: 30px;line-height: 2; }
 }

 @media screen and (max-width:1400px){
    body .login_contanier{margin: 20% auto;}
 }
  @media screen and (max-width:1200px){
    body .left-content{text-align: center;}
    body .left-content p{padding: 0 10px;}
    body .big-sale-img{margin-top: 60px; width: 100%;}
    body .right-content{margin: 0 auto; width: 100%;}
    body .flex-right {max-width: 100%; margin: 0 auto;}
    /* .flash-contanier,.flash-contanier2{width: 100%;max-width: 300px;} */
    .flash-text {font-size: 12px;padding: 5px 0;}
    .flash-title{font-size: 14px;}
    .flash-heading{font-size: 30px; margin-bottom: 10px;line-height: 20px;}
    .flash-contanier{left:50px}
    .flash-contanier2{right: 30px;}


}
@media screen and(max-width:999px){
    body .mini-services{margin-left: 10px;}
    body .owl-dots{ bottom: 4%; left: 0; right: 0; }
    body .owl-dot{display: inline-block;}
    body .testimonial{min-height: 520px;}
    body .sliding-stage{left: 0; right: 0; margin: 0 auto; text-align: center; }
    body .nav-header{height: 0px;}
}


@media screen and (max-width:990px) {
/* body .flex-sub-items{display: block; text-align: center;} */
body .padding-left-25{clear: both;width: 100%;}
body .flex-right{width: 50%; margin-top: 20px;}
/* body .mini-services{margin: 20px 60px;} */
body .nav-header .top-nav .nav-header-ul{display: none;}
body .nav-header .is-sticky .nav-header-ul{display: none; }
body .nav-header .nav-header-logos .nav-logo{padding-left: 0px;}
body .nav-header .nav-header-logos .hamburger-icon{display: block;}
body .nav-header .is-sticky{height: 64px;}
.swiper-slide-active .flash-button{ animation-name: fadeDown3;}
.swiper-slide-active .flash-contanier2{ animation-name: fadeDown3;}
.swiper-slide-active .flash-heading{ animation-name: fadeDown3;}
.swiper-slide-active .flash-text{ animation-name: fadeDown3;}
.swiper-slide-active .flash-contanier{ animation-name: fadeDown3;}
.left-text{text-align: center; width: 100%;}


}
@media screen and (max-width:900px) {
body .top-menu{column-gap: 40px;}

    
}
@media screen and (max-width: 840px) {
    body .owl-dots{right: 9%;}
    
}

@media only screen and (max-width:767px) {
body .footer-mobile{display: block!important;}
body .footer-contanier{display: none!important;} 
body .left-content {padding: 0; text-align: center;}  
body .mini-services{margin-top: 30px;}
body .flex-right{width: 80%;}
.flash-text {font-size: 12px;padding: 5px 0;}
.flash-text .break-class {display: none;}
.flash-title{font-size: 14px;}
.flash-heading{font-size: 30px; margin-bottom: 10px;line-height: 20px;}
.swiper-slide-active .flash-button{ animation-name: fadeDown4;}
.swiper-slide-active .flash-contanier2{ animation-name: fadeDown4;}
.swiper-slide-active .flash-heading{ animation-name: fadeDown4;}
.swiper-slide-active .flash-text{ animation-name: fadeDown4;}
.swiper-slide-active .flash-contanier{ animation-name: fadeDown4;}
.padding-left-20{text-align: center;padding-top: 45px;}
body .sliding-stage{position: absolute;left: 0;top: 80px; right: 0;}
body .owl-dots{bottom: 1%;left: 0%;right: 0%;}
body .owl-dot{display: inline-block;}
body .time-contanier{margin-bottom: 20px;}
.about-content{padding:0 20px !important;}
body .login_contanier{margin: 50% auto;}
body .nav-header{height: 1px;}

/* NAV SMALL DEVICE */
body .page-width {display: none}
body .header-top{position: absolute!important;top: 0; margin: 0;padding: 0;}
body .hamburger-menu{display: flex; justify-content: space-between;line-height: 3;margin:0 0 5px 0;}
body .icon-header{display: flex; padding-top: 10px;}
body .header-logo-section h1{ font-size: 35px;padding-top: 10px;}
body .hamburger-menu {max-width: 1392px;}
body .icons{ cursor: pointer;}
body .icons:hover{color:#a67a68} 
body .hamburger{font-size:  40px;}
body .swiper-wrapper{margin-top: 60px;}
body .footer-item-header{padding-bottom: 12px;}
/* SIDE CLICK OPEN */
body .menu-contanier{color: #222222;z-index: 30;transition: all .8s ease-in; height: 100vh; width: 50%;position: fixed!important;top: 0!important; background-color: #ffffff!important;left: 0;}
body .menu-contanier ul li{list-style: none; margin-top: 70px; font-size: 20px;  }
/* body .menu-contanier ul li:nth-child(1){margin-top: 100px;} */
body .menu-contanier ul li:hover{color: #a67a68;}
body .close-icon{top:20px; right: 20px!important; font-size: 35px;position: absolute; cursor: pointer;}
body .hidden-menu{display: none;}
body .visible-menu{display: block;}
body .parallax-list{margin: 0 auto;padding-right: 20px;}
body .countdown-contanier{padding: 10px;}
}

@media screen and (max-width:650px){
    body .owl-dots{bottom: 0%;}
}

@media screen and (max-width:590px){
body .flex-sub-items{display: flex; text-align: center;font-size: 13px; }
   /* .flash-contanier,.flash-contanier2{width: 100%;} */
   .flash-contanier{left: 10;}
   .flash-contanier2{right: 10;}
   .flash-text{margin-bottom: 0;}
   body .services{padding-left: 0;padding-right: 0;}
   .swiper-pagination-bullet{width: 8px!important; height: 8px!important;}
   body .testimonial{min-height: 500px;}
   
}

@media only screen and (max-width:540px) {
body .left-content p{color: #000000; padding: 12px 0;}
body .flex-right{width: 100%;}
.flash-text{display: none;}
.flash-heading{font-size: 19px;}
.flash-button{font-size: 9px;letter-spacing: .5px;font-weight: 200;text-transform: uppercase;padding: 5px 10px;line-height: 10px;}
.flash-title{padding: 10px 20px;}
body .parallax-text-right{margin: 0 auto; }
body .parallax-subtitle{font-size: 60px;}
}

@media screen and (max-width:480px) {
body .footer-mobile-items .footer-item{font-size: 16px; padding: 5px;}
body .footer-mobile-buttons input{padding: 10px;}
body .footer-mobile-buttons button{padding: 10px 30px;}
body .icons:nth-child(1){  margin-right: 12px;}
body .login-contanier1{right: 0px;}
.padding-left-20 p{font-size: 16px;}
body .parallax-subtitle{font-size: 50px;}
body .parallax-title{font-size: 14px;}
body .owl-dots{bottom: 4%;} 
body .countdowncontainer .countdown-data::before{padding-left: 40px} 
body .nav-header .top-nav .nav-header-icons{margin-right: 10px;column-gap: 10px;}
body .nav-header .is-sticky .nav-header-icons{margin-right: 10px;column-gap: 10px;}

}

@media screen and (max-width:375px){
.flash-text{display: none;}
.flash-heading{font-size: 15px;}
.flash-button{font-size: 8px; padding: 5px 8px;}
.flash-title{padding: 8px 8px; line-height: 8px; margin-bottom: 5px;margin-top: 15px;}
.flash-button{font-size: 8px;letter-spacing: .5px;font-weight: 400;text-transform: uppercase;line-height: 10px;}
.testimonial-header{font-size: 30px!important;}
.padding-left-20 p{font-size: 14px;}
.left-text{text-align: center; width: 100%;}
body .header-logo-section h1{ font-size: 25px;padding-top: 10px;}
body .icons{ cursor: pointer;font-size: 20px; margin-right: 5px;}
body .services-contanier{ margin: 5px};
body .hamburger{font-size:  20px;}
body .swiper-wrapper{margin-top: 20px;}
body .menu-contanier ul li{font-size: 14px;}
body .register_link{padding: 13px 30px;}
.swiper-pagination-bullet{width: 4px!important; height: 4px!important;}
body .owl-dots{bottom: 0%;}
body .seller-contanier .seller-list .seller-option{font-size: 13px;} 
body .countdowncontainer .countdown-data::before{padding-left: 30px;} 
body .login_link{padding: 18px 42px;}
body .nav-header{height: 38px;}

}
@media only screen and (max-width:320px){
body .nav-header{height: 42px;}
body .footer-other-items div h2 {font-size: 16px;} 
body .footer-mobile-items .footer-item{padding: 0;}
body .footer-mobile-socials{margin-bottom: 25px;}
body .sub-text{padding: 5px;}
.swiper-slide-active .flash-button{ animation-name: fadeDown5;}
.swiper-slide-active .flash-contanier2{ animation-name: fadeDown5;}
.swiper-slide-active .flash-heading{ animation-name: fadeDown5;}
.swiper-slide-active .flash-text{ animation-name: fadeDown5;}
.swiper-slide-active .flash-contanier{ animation-name: fadeDown5;}
.flash-heading{font-size: 9px;}
.flash-text{margin-bottom: 0px;line-height: 0;}
.flash-button{margin-top: 0;}
.flash-contanier{left: 0;}
.flash-contanier2{right: 7;}
body .testimonial{min-height: 550px;}
body .parallax-subtitle{font-size: 30px;}

/* body .footer-other-items div:nth-child(2){margin-top: 10px;} */
}


