.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 284px;
    left: 6.5%;
    display: none;
}

.child-product {
    position: absolute;
    top: 255px;
    left: 6.5%;
    display: none;
}

.related-product {
    position: absolute;
    top: 334px;
    left: 21.5%;
    display: none;
}


.child:hover {
    background-color: black;
}

.parent:hover .heading {
    display: none;
}

.parent:hover .child {
    display: block;
    cursor: pointer;
    opacity: 1;
   
}

.parent:hover .child-product {
    display: block;
    cursor: pointer;
    opacity: 100px;
   
}

.parent:hover .related-product {
    display: block;
    cursor: pointer;
    opacity: 100px;
   
}